@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*//Mixin de tamano de texto*/
/*//Mixin alto y ancho*/
/*//Extend de video*/
.videop {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: videop;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: static;
  left: 0;
  right: 0;
  top: 30vh;
  bottom: 0;
  z-index: -1;
}

/*//Extend de section*/
#section1, #section2 {
  background-color: #272f35;
  width: 100vw;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3%;
}

/*Pantallas muy pequeñas  (Siguiendo la guia mobile first)*/
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18vh 50vw auto auto 10vh;
      grid-template-rows: 18vh 50vw auto auto 10vh;
      grid-template-areas: "header header header" "videop videop videop" "recursos recursos recursos" "noticias noticias noticias" "footer footer footer";
}

/*//Pantallas pequeñas (móviles en landscape de más de 576px)*/
@media (min-width: 576px) {
  .container {
    -ms-grid-rows: 30vh 50vw auto auto 10vh;
        grid-template-rows: 30vh 50vw auto auto 10vh;
  }
}

/*/Pantallas medianas (tablets de más de 768px)*/
@media (min-width: 768px) {
  .container {
    -ms-grid-rows: 14vh 40vw auto auto 10vh;
        grid-template-rows: 14vh 40vw auto auto 10vh;
  }
}

/*/Pantallas muy grandes (desktops de más de 1200px)*/
@media (min-width: 1200px) {
  .container {
    -ms-grid-rows: 20vh 40vw auto auto 10vh;
        grid-template-rows: 20vh 40vw auto auto 10vh;
  }
}

body {
  background-color: #272f35;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 200;
  color: #ffff;
}

p {
  margin: 3%;
  text-align: justify;
}

.titulos {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 700;
  color: #ff2554;
  padding: 3%;
}

strong {
  color: #ff2554;
}

fieldset {
  margin: 5%;
  padding: 3%;
}

.videorecurso {
  width: 30vw;
  padding: 5%;
}

.imgtable {
  width: 100%;
  padding: 5%;
}

.imgred {
  height: 3vh;
}

.imglogo {
  height: 100%;
}

.imgyo {
  width: 90vw;
}

/*Pantallas muy pequeñas  (Siguiendo la guia mobile first)*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1%;
  top: 0;
  width: 100vw;
  background-color: #272f35;
}

.barra_logo {
  height: 6vh;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60vw;
}

.siguenos {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 20vw;
  font-size: 1.5vh;
  font-size: 1.5vw;
  padding: 1rem;
}

.siguenos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

/*//Pantallas pequeñas (móviles en landscape de más de 576px)*/
@media (min-width: 576px) {
  .barra_logo {
    height: 10vh;
    width: 90vw;
  }
  .siguenos {
    width: 20vw;
    font-size: 3vh;
    font-size: 3vw;
  }
}

/*/Pantallas medianas (tablets de más de 768px)*/
@media (min-width: 768px) {
  .barra_logo {
    height: 6vh;
    width: 90vw;
  }
  .siguenos {
    font-size: 2vh;
    font-size: 2vw;
  }
}

/*/Pantallas muy grandes (desktops de más de 1200px)*/
@media (min-width: 1200px) {
  .barra_logo {
    height: 10vh;
    width: 90vw;
  }
  .siguenos {
    font-size: 2vh;
    font-size: 2vw;
  }
}

/*Pantallas muy pequeñas  (Siguiendo la guia mobile first)*/
nav {
  padding: 1rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}

nav ul a {
  text-decoration: none;
}

nav li a {
  font-size: 4vh;
  font-size: 3.5vw;
  color: #afb8be;
  text-decoration: none;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  border-left: solid 1px #ff2554;
  border-right: solid 1px #ff2554;
}

nav li a:hover {
  color: #ffff;
  font-weight: 700;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

nav li:hover {
  background-color: #ff2554;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

/*//Pantallas pequeñas (móviles en landscape de más de 576px)*/
@media (min-width: 576px) {
  nav li a {
    font-size: 4vh;
    font-size: 3.5vw;
  }
}

/*/Pantallas medianas (tablets de más de 768px)*/
@media (min-width: 768px) {
  nav li a {
    font-size: 4vh;
    font-size: 1.5vw;
  }
}

/*/Pantallas muy grandes (desktops de más de 1200px)*/
@media (min-width: 1200px) {
  nav ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  nav li a {
    font-size: 2vh;
    font-size: 1.5vw;
  }
}

/*Pantallas muy pequeñas  (Siguiendo la guia mobile first)*/
/*//Pantallas pequeñas (móviles en landscape de más de 576px)*/
@media (min-width: 576px) {
  .videop {
    top: 30vh;
    bottom: 0;
    z-index: -1;
  }
}

/*/Pantallas medianas (tablets de más de 768px)*/
@media (min-width: 768px) {
  .videop {
    top: 0;
    bottom: 0;
    z-index: -9999;
  }
}

/*/Pantallas muy grandes (desktops de más de 1200px)*/
@media (min-width: 1200px) {
  .videop {
    top: 0;
    bottom: 0;
    z-index: -9999;
  }
}

/*Pantallas muy pequeñas  (Siguiendo la guia mobile first)*/
#section1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: recursos;
}

#section2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: noticias;
}

.cont_section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-auto-rows: 2fr 2fr 2fr 2fr;
  font-size: 1.5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

.cont_section2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr;
      grid-template-columns: 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  -ms-grid-row-align: center;
      align-self: center;
}

/*//Pantallas pequeñas (móviles en landscape de más de 576px)*/
@media (min-width: 576px) {
  .cont_section1 {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    grid-auto-rows: 2fr 2fr 2fr 2fr;
    font-size: 4vh;
    padding: 5%;
  }
  .cont_section2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 4vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5%;
    -ms-grid-row-align: center;
        align-self: center;
  }
}

/*/Pantallas medianas (tablets de más de 768px)*/
@media (min-width: 768px) {
  .cont_section1 {
    -ms-grid-columns: (1fr 2fr)[2];
        grid-template-columns: repeat(2, 1fr 2fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    font-size: 1.2vh;
    padding: 3%;
  }
  .cont_section2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    font-size: 1.2vh;
    padding: 3%;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

/*/Pantallas muy grandes (desktops de más de 1200px)*/
@media (min-width: 1200px) {
  .cont_section1 {
    -ms-grid-columns: (1fr 2fr)[2];
        grid-template-columns: repeat(2, 1fr 2fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    font-size: 2.5vh;
    padding: 5%;
  }
  .cont_section2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    font-size: 2vh;
    padding: 5%;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

/*Pantallas muy pequeñas  (Siguiendo la guia mobile first)*/
footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #272f35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: last baseline;
      -ms-flex-pack: last baseline;
          justify-content: last baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2vh;
  font-size: 2vw;
  padding: 3%;
}

/*//Pantallas pequeñas (móviles en landscape de más de 576px)*/
@media (min-width: 576px) {
  footer {
    font-size: 3vh;
    font-size: 3vw;
  }
}

/*/Pantallas medianas (tablets de más de 768px)*/
@media (min-width: 768px) {
  footer {
    font-size: 1.5vh;
    font-size: 1.5vw;
  }
}

/*/Pantallas muy grandes (desktops de más de 1200px)*/
@media (min-width: 1200px) {
  footer {
    font-size: 2vh;
    font-size: 2vw;
  }
}
