body{
    background-color: $background;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 200 ;
    color: $parrafos;
}
.titulos{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    color: $titulos;
}
strong{
  color: $titulos;
}
fieldset{
  margin: 5%;
  padding: 3%;
}
.videorecurso{
  width: 30vw;
  padding: 5%;
}
.imgtable{
  width: 100%;
  padding:5%;
}
.imgred{
  height: 3vh;
}
.imglogo{
  height: 100%;
}