body{
    background-color: $dark-gray;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 200 ;
    color: $pure-white;
}
.titulos{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    color: $cool-red;
}
strong{
  color: $cool-red;
}
fieldset{
  margin: 5%;
  padding: 3%;
}
.videorecurso{
  width: 30vw;
}
.imgtable{
  width: 100%;
  padding:5%;
}