/*Pantallas muy pequeñas  (Siguiendo la guia mobile first)*/
footer{
    grid-area: footer;
    background-color: $background;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: last baseline;
    align-items: center;
    @include fonts(2, 2);
    padding: 3%;
  }
/*//Pantallas pequeñas (móviles en landscape de más de 576px)*/
@media (min-width: 576px) {
    footer{
      @include fonts(3, 3);
      }
}
/*/Pantallas medianas (tablets de más de 768px)*/
@media (min-width: 768px) {
    footer{
      @include fonts(1.5, 1.5);
      }
}
/*/Pantallas muy grandes (desktops de más de 1200px)*/
@media (min-width: 1200px) {
    footer{
      @include fonts(2, 2);
      }
}