/*Pantallas muy pequeñas  (Siguiendo la guia mobile first)*/
nav{
    padding: 1rem ;
    ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      list-style: none;
          a{
          text-decoration: none;
          }
      }
      li{
          a{
              @include fonts(4, 3.5);           
              color: $gray;
              text-decoration: none;
              text-align: center;
              padding-left: 2px;
              padding-right: 2px;
              border-left: solid  1px $titulos;
              border-right: solid  1px $titulos;
              &:hover{
                  color: $parrafos;
                  font-weight: 700;
                  transform: scale(1.2, 1.2);
                }
          }
          &:hover{
              background-color: $titulos;
              transform: scale(1.2, 1.2);
            }
      }
  }
/*//Pantallas pequeñas (móviles en landscape de más de 576px)*/
@media (min-width: 576px) {
    nav{
        li{
            a {
              @include fonts(4, 3.5);
              }
        }  
      }
}
/*/Pantallas medianas (tablets de más de 768px)*/
@media (min-width: 768px) {
    nav{
        li{
            a {
              @include fonts(4, 1.5);
              }
        }
      }
}
/*/Pantallas muy grandes (desktops de más de 1200px)*/
@media (min-width: 1200px) {
    nav{
        ul{
          justify-content: space-evenly;
        }
        li{
          a {
            @include fonts(2, 1.5);
            }
        }
      }
}