*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "var";
@import "container";
@import "body";
@import "header";
@import "nav";
@import "video";
@import "sections";
@import "footer";